{% extends "base.html" %}

{% block conteudo %}
<div class="container">
    <table>
        <tbody>
            <tr>
                <td><h2>Título: {{post.titulo}}</h2></td>
                <td> | Autor: {{post.autor}}</td>
                <td> | Escola: {{post.escola}}</td>
                <td> | Texto: {{post.texto}}</td>
                <td> | Data: {{post.data}} | </td>
            </tr>
        </tbody>
    </table>

    <form method="POST" action="{{ url_for('abrir_post', post_id=post_id)}}">
        {{ form.hidden_tag() }}

        <div style="margin-bottom: 20px;">

            <label style="font-weight: bold;">{{ form.texto.label }}</label><br>
            {{ form.texto(style="width: 100%; padding: 10px; margin-top: 5px; border-radius: 4px; border: 1px solid #ccc;") }}
            
        </div>

        <div style="text-align: center;">
            {{ form.submit(class_="botao", style="width: 50%; font-size: 1.1em;") }}
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </form>

    {% if existe_comentarios %}
    <table>
        <h2>Comentários: </h2>
        <tbody>
            {% for comentario in comentarios %}
                <tr>
                    <td>{{loop.index}}</td> 
                    <td> | Autor: {{comentario['autor']}}</td>
                    <td> | Texto: {{comentario['texto']}}</td>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}